div.spin {
    width: 100px;
    height: 100px;
    background-color: #e2e2e2;
    margin: 24px;
    display: flex;
    cursor: pointer;
  }
  
  .spin{
    transition: height 1s, width 0.1s, background-color 1.5s;
  }
  
  div.spin:hover {
    animation-name: spin;
    background-color: #0cb1c4;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-radius: 5px;  
  }

  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
    }