/*----------------------css transforms---------------*/

.flip3d {
    width: 240px;
    height: 200px;
    margin: 10px;
    float: left;
    text-align:center;
    line-height:200px;
}
.flip3d > .front {
    position: absolute;
    -ms-transform: perspective(600px) rotateY(0deg);
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
    background: #ff0000;
    color:white;
    width: 240px;
    height: 200px;
    border-radius: 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .5s linear 0s;
    transition: transform .5s linear 0s;
}
.flip3d > .back {
    position: absolute;
    -ms-transform: perspective(600px) rotateY(0deg);
    -webkit-transform: perspective(600px) rotateY(180deg);
    transform: perspective(600px) rotateY(180deg);
    background: #80BFFF;
    width: 240px;
    height: 200px;
    border-radius: 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .5s linear 0s;
    transition: transform .5s linear 0s;
}
.flip3d:hover .front {
    -webkit-transform: perspective(600px) rotateY(-180deg);
    transform: perspective(600px) rotateY(-180deg);
}
.flip3d:hover .back {
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
}
.small {
  margin-top: 290px;
}
div.width, div.swell {
  width: 100px;
  height: 100px;
  background-color: #e2e2e2;
  margin: 0 24px 24px 24px;
  display: flex;
  cursor: pointer;
}
.width{
transition: all 1s;
}
.width:hover {
  width: 200px;
  background-color: #5e1db3;
  border-radius: 4px;
}
.swell{
  transition: all 1s;
}
.swell:hover{
  background-color: purple;
  border-radius: 20px;
  height: 140px;
  width: 140px;
}