div.spin {
    width: 100px;
    height: 100px;
    background-color: #e2e2e2;
    margin: 24px;
    display: flex;
    cursor: pointer;
  }
  
  .spin{
    transition: height 1s, width 0.1s, background-color 1.5s;
  }
  
  div.spin:hover {
    animation-name: spin;
    background-color: #065b64;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-radius: 5px;  
  }

  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
    }

/*sticker*/

body.new {padding:4em; background:#fcfcfc;}

body a {
  color: blue;
  text-decoration: underline;
}

.wrap {width:200px; margin:auto;  z-index:1;}

.msg {
  color: whitesmoke;
  text-align:center;
  font-family: 'Bree Serif', Courier, monospaced;
  font-size:3.5em;
  width:200px;
  position:absolute;
  margin:55px 0 0 2px;
  pointer-events: none; 
}

.sticker {
  width:200px;
  height:200px;
  position:absolute;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/13034/sticker.png) top center no-repeat; 
  animation: spin 10s linear infinite;
  /*Set our animation play state to paused initially */
  animation-play-state: paused; 
}

.sticker:hover {
  /* Toggle our animation play state to running when we are hovering over our sticker */
  animation-play-state: running;
}


@keyframes spin {
  100% {transform: rotate(1turn); }
}