.content {
    font-size: 18px;
    line-height: 25px;
}

span.code {
    font-family: monospace !Important;
    font-size: 18px;
    background-color: #dfdfdf;

}

.parse, .string {
    width: 90%;
    padding: 20px;
}

.parse img {
    width: 90%;
}

.string img {
    width: 90%;
}

.result {
    background-color: #e6d5ca;
    width: 500px;
    padding: 1px 10px 10px 10px;
}

.weather {
    background-color: #e6d5ca;
    padding: 20px;
}
