/*google fonts: PT Serif and Raleway */
@import url('https://fonts.googleapis.com/css?family=PT+Serif|Raleway&display=swap');

:root {
    /*pallette colors*/
    --blue-gray: #6291b0;
  --whitesmoke: #f7f6f2;
  --bone: #e6d5ca;
  --prussian-blue: #053c55;
  --rich-black: #02161f;
  --gray-blue: #7694a2;
  --blue-gray-shadow: #486a81;

  /*font choices*/
  --heading-font: 'Raleway', Helvetica, sans-serif;
  --paragraph-font: 'PT Serif', Helvetica, sans-serif;

  /*other color choices*/
  --nav-link: #f7f6f2;
  --nav-background: #053c55;
  --nav-hover: ;


}

html {
    background-color: var(--blue-gray);
}

body {
    margin: 0 auto;
    height: 100%;
    
}

.header {
    background-color: var(--prussian-blue);
    height: 200px;
}

.header h1 {
    color: var(--whitesmoke);
    text-align: center;
    margin: auto;
    padding-top: 5%;
}

.header h2 {
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    margin: auto;
}

.content {
    min-height: 100vh;
    max-width: 900px;
    margin: 0 auto;
    background-color: var(--whitesmoke);
    font-family: var(--paragraph-font);
    /*margin-bottom: -40px;*/

}

main {
    margin: 0 auto;
}

#topics {
    padding-top: 20px;

}

#topics h2 {
    font-family: 'Raleway' /*var(--heading-font);*/;
    padding-left: 20px;
}

#topics ul li a {
    text-decoration: none;
    text-align: left;
    font-size: 24px;
    padding: 10px;
}

#topics ul li a:hover {
    background-color: var(--blue-gray-shadow);
    border-radius: 10px;
    color: var(--whitesmoke);
}

#topics ul li {
    text-align: left;
    line-height: 35px;

}

#topics ul {
    list-style-type: none;

}

.question-block{
    max-width: 400px;
    margin-bottom: 10px;
    padding: 10px;  
    border: 2px solid black;
    box-shadow: 2px 5px #888888;
  }