@import url('https://fonts.googleapis.com/css?family=PT+Serif|Raleway&display=swap');



html {    
    font-family: "PT Serif", Helvetica, sans-serif;
    max-width: 960px;
}

body {
    background-color: #6291b0;
    margin: 0 auto;
    max-width: 860px;
    font-family: "PT Serif", Helvetica, sans-serif;
}

h2 {
    padding: 40px 40px 0px 40px;
}

.test-box {
    background-color: #e6d5ca;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 5px 5px #486a81;
}

.question-block{

    background-color: whitesmoke;
    max-width: 400px;
    margin: 40px;
    padding: 10px;  
    border: 2px solid black;
    box-shadow: 4px 5px #ccb7b7;
  }

  #submit-btn {
      margin: 0px 40px 40px 40px;
      border: 1px solid black;
      box-shadow: 4px 5px #ccb7b7;
      padding: 8px;
      border-radius: 8px;
      background-color: #6ea8ce;
      font-weight: bold;
      color: whitesmoke;
      letter-spacing: 1.5px;
      text-shadow: 
      -.5px -.5px 0 #000,
      .5px -.5px 0 #000,
      -.5px .5px 0 #000,
      .5px .5px 0 #000;;

  }

  .back {
      margin: 10px 0px 0px 10px;
      
  }